<!-- BEGIN page-footer -->
<footer class="page-footer">
	  <div class="container">
            <div class="row top-footer">
            <div class="col l3">
            	<h5 class="white-text">Основное</h5>
            	<ul>
            		<li><a href="#">Интерактивная карта</a></li>
            		<li><a href="#">Миссионерские центры</a></li>
            		<li><a href="#">Новости</a></li>
            		<li><a href="#">Блог</a></li>
            		<li><a href="#">Видео</a></li>
            		<li><a href="#">Нужды</a></li>
            		<li><a href="#">Проекты</a></li>
            	</ul>
            </div>
            <div class="col l3">
            	<h5 class="white-text">Информация</h5>
            	<ul>
            		<li><a href="#">О Организации</a></li>
            		<li><a href="#">Контакты лидеров</a></li>
            		<li><a href="#">Миссионерская школа</a></li>
            		<li><a href="#">Расшарить в соцсетях</a></li>
            		<li><a href="#">Онлайн консультация</a></li>
            		<li><a href="#">Отзывы и комментарии</a></li>
            		<li><a href="#">Рекомендуемые нужды</a></li>
            	</ul>
            </div>
            <div class="col l3">
            	<h5 class="white-text">Другое</h5>
            	<ul>
	        		<li><a href="#">Подписаться на рассылку</a></li>
	            	<li><a href="#">Наши партнеры</a></li>
	            	<li><a href="#">Проекты FrontLine</a></li>
	            	<li><a href="#">Наши центры</a></li>
	            	<li><a href="#">О нас в СМИ</a></li>
            	</ul>
            </div>
            <div class="col l3">
            	<div class="logo-footer right">
            	<a href="#">
            		<img src="img/logo-f.png" alt="">
            	</a>
            	</div>
            	<div class="devolop right">
            		<a href="#">
            			<img src="img/ilion.png" alt="">
            		</a>
            	</div>
            </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <div class="row">
            	<div class="col l5 copy">
            		Copyright © 2016 FrontLine
            	</div>
            	<div class="col l7">
            		<span class="left">делаем добро вместе!</span>
            	</div>
            </div>
            </div>
          </div>
</footer>
<!-- END page-footer -->