<div class="blog">
	<div class="container">
		<div class="row">
			<span class="h3">БЛОГ</span>
			<div class="col l3">
				<div class="box">
					<div class="image">
						<img src="" alt="">
					</div>
					<div class="name">
						<a href="">Первый заголовок для блока</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box">
					<div class="image">
						<img src="" alt="">
					</div>
					<div class="name">
						<a href=""></a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box">
					<div class="image">
						<img src="" alt="">
					</div>
					<div class="name">
						<a href=""></a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box">
					<div class="image">
						<img src="" alt="">
					</div>
					<div class="name">
						<a href=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="baner-wrap">
	<div class="container">
		<div class="row">
			<div class="baner center">
				<img src="img/baner.png" alt="">
				<div class="text">
					<span class="h1">Желаете поддержать проект FRONTLINE?
Делаем добро вместе!</span>
					<div class="button center">
						<a href="">ХОЧУ ПОДДЕРЖАТЬ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="partners">
	<div class="container">
		<div class="row">
			<span class="h3">Наши партнеры</span>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico emanul"></i>
				</div>
			</div>
			</div>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico dvest"></i>
				</div>
			</div>
			</div>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico together-minestry"></i>
				</div>
			</div>
			</div>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico saveuk"></i>
				</div>
			</div>
			</div>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico neem"></i>
				</div>
			</div>
			</div>
			<div class="col l2">
			<div class="valign-wrapper">
				<div class="valign">
				<i class="ico cvcis"></i>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>